body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/app/project/IMAGES/db.jpg);
  background-size: cover;
}

.container {
  width: 40%;
  height: 60%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h1 {
  color: #333;
  text-align: center;
}

.contact-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid salmon;
  border-radius: 5px;
  background-color: greenyellow;
}

.contact-details p {
  margin: 10px 0;
  color: #555;
}

.contact-details p strong {
  color: #333;
}

.contact-details p:last-child {
  margin-bottom: 0;
}

.contact-details p:not(:last-child)::after {
  content: "|";
  margin: 0 5px;
  color: #ccc;
}
